//Background colors
$bg-color-main: black;
$bg-color-alternative: white;

$bg-color-correct: chartreuse;
$bg-color-alert: orange;

//fonts
$text-color-primary: black;
$text-color-secondary: white;
$font-size-main: 10px;
$font-size-xs: 1rem;
$font-size-s: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.2rem;
